FYMS.BSVIEW/Connected Services/MainService/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/MainService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMainService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IMainService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_loginlimit_InputMessage">
    <wsdl:part name="parameters" element="tns:loginlimit" />
  </wsdl:message>
  <wsdl:message name="IMainService_loginlimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginlimitResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminUserAll_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminUserAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminUserAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminUserAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMainService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminByID_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMainService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMainService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleAll_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleByID_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleDelete" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelAll_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelEntity" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminRoleRelEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminRoleRelEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_RoleRelOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:RoleRelOpen" />
  </wsdl:message>
  <wsdl:message name="IMainService_RoleRelOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:RoleRelOpenResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuAll_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuEntity" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuOpen" />
  </wsdl:message>
  <wsdl:message name="IMainService_MenuOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuOpenResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitAll_InputMessage">
    <wsdl:part name="parameters" element="tns:LimitAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimitAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:LimitAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimitAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:LimitUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimitUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitEditData_InputMessage">
    <wsdl:part name="parameters" element="tns:LimitEditData" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitEditData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimitEditDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:LimitDelete" />
  </wsdl:message>
  <wsdl:message name="IMainService_LimitDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimitDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_loginlog_InputMessage">
    <wsdl:part name="parameters" element="tns:loginlog" />
  </wsdl:message>
  <wsdl:message name="IMainService_loginlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginlogResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_Errorlog_InputMessage">
    <wsdl:part name="parameters" element="tns:Errorlog" />
  </wsdl:message>
  <wsdl:message name="IMainService_Errorlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorlogResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_controllog_InputMessage">
    <wsdl:part name="parameters" element="tns:controllog" />
  </wsdl:message>
  <wsdl:message name="IMainService_controllog_OutputMessage">
    <wsdl:part name="parameters" element="tns:controllogResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_errorcontrollog_InputMessage">
    <wsdl:part name="parameters" element="tns:errorcontrollog" />
  </wsdl:message>
  <wsdl:message name="IMainService_errorcontrollog_OutputMessage">
    <wsdl:part name="parameters" element="tns:errorcontrollogResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_ErrorLogAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorLogAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_ErrorLogAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorLogAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_ErrorLogByID_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorLogByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_ErrorLogByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorLogByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminLogAll_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_AdminLogAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_ControlLogAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ControlLogAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_ControlLogAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ControlLogAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_ControlLogByID_InputMessage">
    <wsdl:part name="parameters" element="tns:ControlLogByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_ControlLogByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ControlLogByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTErrorLogAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CTErrorLogAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTErrorLogAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CTErrorLogAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTLoginLogAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CTLoginLogAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTLoginLogAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CTLoginLogAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTErrorLogByID_InputMessage">
    <wsdl:part name="parameters" element="tns:CTErrorLogByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTErrorLogByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CTErrorLogByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTControlLogAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CTControlLogAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTControlLogAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CTControlLogAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTControlLogByID_InputMessage">
    <wsdl:part name="parameters" element="tns:CTControlLogByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_CTControlLogByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CTControlLogByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeDelete" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTypeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTypeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_DataByRoleID_InputMessage">
    <wsdl:part name="parameters" element="tns:DataByRoleID" />
  </wsdl:message>
  <wsdl:message name="IMainService_DataByRoleID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataByRoleIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelEdit" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelEditResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelDelete" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckRoleRelDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoleRelDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_ht_CheckTableSave_InputMessage">
    <wsdl:part name="parameters" element="tns:ht_CheckTableSave" />
  </wsdl:message>
  <wsdl:message name="IMainService_ht_CheckTableSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ht_CheckTableSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableByID_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableByID" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableSave_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableSave" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableNoSuccess_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableNoSuccess" />
  </wsdl:message>
  <wsdl:message name="IMainService_CheckTableNoSuccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTableNoSuccessResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeAll_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeAll" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeAdd" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeAddResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeUpdate" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeDelete" />
  </wsdl:message>
  <wsdl:message name="IMainService_AccountTypeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountTypeDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/DoWork" message="tns:IMainService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/DoWorkResponse" message="tns:IMainService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/login" message="tns:IMainService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/loginResponse" message="tns:IMainService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginlimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/loginlimit" message="tns:IMainService_loginlimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/loginlimitResponse" message="tns:IMainService_loginlimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminUserAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminUserAll" message="tns:IMainService_AdminUserAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminUserAllResponse" message="tns:IMainService_AdminUserAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Add" message="tns:IMainService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AddResponse" message="tns:IMainService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminByID" message="tns:IMainService_AdminByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminByIDResponse" message="tns:IMainService_AdminByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Update" message="tns:IMainService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/UpdateResponse" message="tns:IMainService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Delete" message="tns:IMainService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/DeleteResponse" message="tns:IMainService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleAll" message="tns:IMainService_AdminRoleAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleAllResponse" message="tns:IMainService_AdminRoleAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleAdd" message="tns:IMainService_AdminRoleAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleAddResponse" message="tns:IMainService_AdminRoleAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleByID" message="tns:IMainService_AdminRoleByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleByIDResponse" message="tns:IMainService_AdminRoleByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleUpdate" message="tns:IMainService_AdminRoleUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleUpdateResponse" message="tns:IMainService_AdminRoleUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleDelete" message="tns:IMainService_AdminRoleDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleDeleteResponse" message="tns:IMainService_AdminRoleDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelAll" message="tns:IMainService_AdminRoleRelAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelAllResponse" message="tns:IMainService_AdminRoleRelAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelAdd" message="tns:IMainService_AdminRoleRelAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelAddResponse" message="tns:IMainService_AdminRoleRelAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelUpdate" message="tns:IMainService_AdminRoleRelUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelUpdateResponse" message="tns:IMainService_AdminRoleRelUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelEntity" message="tns:IMainService_AdminRoleRelEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminRoleRelEntityResponse" message="tns:IMainService_AdminRoleRelEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoleRelOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/RoleRelOpen" message="tns:IMainService_RoleRelOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/RoleRelOpenResponse" message="tns:IMainService_RoleRelOpen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/MenuAll" message="tns:IMainService_MenuAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/MenuAllResponse" message="tns:IMainService_MenuAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/MenuAdd" message="tns:IMainService_MenuAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/MenuAddResponse" message="tns:IMainService_MenuAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/MenuUpdate" message="tns:IMainService_MenuUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/MenuUpdateResponse" message="tns:IMainService_MenuUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/MenuEntity" message="tns:IMainService_MenuEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/MenuEntityResponse" message="tns:IMainService_MenuEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/MenuOpen" message="tns:IMainService_MenuOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/MenuOpenResponse" message="tns:IMainService_MenuOpen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimitAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/LimitAll" message="tns:IMainService_LimitAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LimitAllResponse" message="tns:IMainService_LimitAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimitAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/LimitAdd" message="tns:IMainService_LimitAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LimitAddResponse" message="tns:IMainService_LimitAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimitUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/LimitUpdate" message="tns:IMainService_LimitUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LimitUpdateResponse" message="tns:IMainService_LimitUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimitEditData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/LimitEditData" message="tns:IMainService_LimitEditData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LimitEditDataResponse" message="tns:IMainService_LimitEditData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimitDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/LimitDelete" message="tns:IMainService_LimitDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/LimitDeleteResponse" message="tns:IMainService_LimitDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/loginlog" message="tns:IMainService_loginlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/loginlogResponse" message="tns:IMainService_loginlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Errorlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/Errorlog" message="tns:IMainService_Errorlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ErrorlogResponse" message="tns:IMainService_Errorlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="controllog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/controllog" message="tns:IMainService_controllog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/controllogResponse" message="tns:IMainService_controllog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="errorcontrollog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/errorcontrollog" message="tns:IMainService_errorcontrollog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/errorcontrollogResponse" message="tns:IMainService_errorcontrollog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorLogAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ErrorLogAll" message="tns:IMainService_ErrorLogAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ErrorLogAllResponse" message="tns:IMainService_ErrorLogAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorLogByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ErrorLogByID" message="tns:IMainService_ErrorLogByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ErrorLogByIDResponse" message="tns:IMainService_ErrorLogByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AdminLogAll" message="tns:IMainService_AdminLogAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AdminLogAllResponse" message="tns:IMainService_AdminLogAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ControlLogAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ControlLogAll" message="tns:IMainService_ControlLogAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ControlLogAllResponse" message="tns:IMainService_ControlLogAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ControlLogByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ControlLogByID" message="tns:IMainService_ControlLogByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ControlLogByIDResponse" message="tns:IMainService_ControlLogByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CTErrorLogAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CTErrorLogAll" message="tns:IMainService_CTErrorLogAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CTErrorLogAllResponse" message="tns:IMainService_CTErrorLogAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CTLoginLogAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CTLoginLogAll" message="tns:IMainService_CTLoginLogAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CTLoginLogAllResponse" message="tns:IMainService_CTLoginLogAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CTErrorLogByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CTErrorLogByID" message="tns:IMainService_CTErrorLogByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CTErrorLogByIDResponse" message="tns:IMainService_CTErrorLogByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CTControlLogAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CTControlLogAll" message="tns:IMainService_CTControlLogAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CTControlLogAllResponse" message="tns:IMainService_CTControlLogAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CTControlLogByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CTControlLogByID" message="tns:IMainService_CTControlLogByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CTControlLogByIDResponse" message="tns:IMainService_CTControlLogByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTypeAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTypeAll" message="tns:IMainService_CheckTypeAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTypeAllResponse" message="tns:IMainService_CheckTypeAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTypeAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTypeAdd" message="tns:IMainService_CheckTypeAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTypeAddResponse" message="tns:IMainService_CheckTypeAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTypeUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTypeUpdate" message="tns:IMainService_CheckTypeUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTypeUpdateResponse" message="tns:IMainService_CheckTypeUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTypeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTypeDelete" message="tns:IMainService_CheckTypeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTypeDeleteResponse" message="tns:IMainService_CheckTypeDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelAll" message="tns:IMainService_CheckRoleRelAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelAllResponse" message="tns:IMainService_CheckRoleRelAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelAdd" message="tns:IMainService_CheckRoleRelAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelAddResponse" message="tns:IMainService_CheckRoleRelAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelUpdate" message="tns:IMainService_CheckRoleRelUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelUpdateResponse" message="tns:IMainService_CheckRoleRelUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataByRoleID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/DataByRoleID" message="tns:IMainService_DataByRoleID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/DataByRoleIDResponse" message="tns:IMainService_DataByRoleID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelEdit" message="tns:IMainService_CheckRoleRelEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelEditResponse" message="tns:IMainService_CheckRoleRelEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelDelete" message="tns:IMainService_CheckRoleRelDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckRoleRelDeleteResponse" message="tns:IMainService_CheckRoleRelDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ht_CheckTableSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/ht_CheckTableSave" message="tns:IMainService_ht_CheckTableSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/ht_CheckTableSaveResponse" message="tns:IMainService_ht_CheckTableSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTableAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTableAll" message="tns:IMainService_CheckTableAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTableAllResponse" message="tns:IMainService_CheckTableAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTableByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTableByID" message="tns:IMainService_CheckTableByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTableByIDResponse" message="tns:IMainService_CheckTableByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTableSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTableSave" message="tns:IMainService_CheckTableSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTableSaveResponse" message="tns:IMainService_CheckTableSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTableNoSuccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/CheckTableNoSuccess" message="tns:IMainService_CheckTableNoSuccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/CheckTableNoSuccessResponse" message="tns:IMainService_CheckTableNoSuccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountTypeAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AccountTypeAll" message="tns:IMainService_AccountTypeAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AccountTypeAllResponse" message="tns:IMainService_AccountTypeAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountTypeAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AccountTypeAdd" message="tns:IMainService_AccountTypeAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AccountTypeAddResponse" message="tns:IMainService_AccountTypeAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountTypeUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AccountTypeUpdate" message="tns:IMainService_AccountTypeUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AccountTypeUpdateResponse" message="tns:IMainService_AccountTypeUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountTypeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/AccountTypeDelete" message="tns:IMainService_AccountTypeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/AccountTypeDeleteResponse" message="tns:IMainService_AccountTypeDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMainService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IMainService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginlimit">
      <soap:operation soapAction="http://tempuri.org/IMainService/loginlimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUserAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminUserAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMainService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IMainService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMainService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleDelete">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleRelAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleRelAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleRelUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminRoleRelEntity">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminRoleRelEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleRelOpen">
      <soap:operation soapAction="http://tempuri.org/IMainService/RoleRelOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/MenuAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/MenuAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/MenuUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuEntity">
      <soap:operation soapAction="http://tempuri.org/IMainService/MenuEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuOpen">
      <soap:operation soapAction="http://tempuri.org/IMainService/MenuOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimitAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/LimitAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimitAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/LimitAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimitUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/LimitUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimitEditData">
      <soap:operation soapAction="http://tempuri.org/IMainService/LimitEditData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimitDelete">
      <soap:operation soapAction="http://tempuri.org/IMainService/LimitDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginlog">
      <soap:operation soapAction="http://tempuri.org/IMainService/loginlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Errorlog">
      <soap:operation soapAction="http://tempuri.org/IMainService/Errorlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="controllog">
      <soap:operation soapAction="http://tempuri.org/IMainService/controllog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="errorcontrollog">
      <soap:operation soapAction="http://tempuri.org/IMainService/errorcontrollog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorLogAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/ErrorLogAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorLogByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/ErrorLogByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/AdminLogAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlLogAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/ControlLogAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlLogByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/ControlLogByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CTErrorLogAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/CTErrorLogAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CTLoginLogAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/CTLoginLogAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CTErrorLogByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/CTErrorLogByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CTControlLogAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/CTControlLogAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CTControlLogByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/CTControlLogByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTypeAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTypeAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTypeAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTypeAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTypeUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTypeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTypeDelete">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTypeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckRoleRelAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckRoleRelAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckRoleRelUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataByRoleID">
      <soap:operation soapAction="http://tempuri.org/IMainService/DataByRoleID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelEdit">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckRoleRelEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoleRelDelete">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckRoleRelDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ht_CheckTableSave">
      <soap:operation soapAction="http://tempuri.org/IMainService/ht_CheckTableSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTableAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTableAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTableByID">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTableByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTableSave">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTableSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTableNoSuccess">
      <soap:operation soapAction="http://tempuri.org/IMainService/CheckTableNoSuccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountTypeAll">
      <soap:operation soapAction="http://tempuri.org/IMainService/AccountTypeAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountTypeAdd">
      <soap:operation soapAction="http://tempuri.org/IMainService/AccountTypeAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountTypeUpdate">
      <soap:operation soapAction="http://tempuri.org/IMainService/AccountTypeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountTypeDelete">
      <soap:operation soapAction="http://tempuri.org/IMainService/AccountTypeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:8082/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>